<div class="col-12 widgetContainer">
    <div class="card card-cascade narrower d-inline-block border-0 m-2 col-xl-2 col-lg-2" *ngFor="let gnome of info">
        <div class="d-block pt-2 p-0 col-12 header-card">
            <div class="d-block col-12 pr-0">
                <div class="d-inline-block p-0 pt-2 col-8">
                        <strong class="title-widget">{{gnome.name}}</strong>
                </div>
            </div>
        </div>
        <div class="content-card col-12 d-block">
            <div class="d-inline-block pull-left col-5 p-0 mt-5">
                <img alt="thumbnail" width="128px" height="128px" class="p-0 center-block" src="{{gnome.thumbnail}}">
            </div>

            <div class="d-inline-block pull-right col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 mt-3">
                <div class="border-bottom mb-1">
                    <p><strong>ID: </strong>{{gnome.id}}</p>
                </div>
              <div class="border-bottom mb-1">
                    <p><strong>Age: </strong> {{gnome.age}}</p>
                </div>
                <div class="mb-1">
                    <p><strong>Weight: </strong>{{gnome.weight}} <strong>Height:</strong> {{gnome.height}}</p>
                </div> 
                <div class="mb-1">
                    <p><strong>Hair Color: </strong>{{gnome.hair_color}}</p>
                </div> 
                <div class="border-bottom mb-1">
                  <a routerLink="/profile/gnome/{{gnome.id}}">See more Information</a>
                </div> 
            </div>
        </div>
    </div>
</div>